---
---

@import "{{ site.theme }}";
header li {
    width: auto;
    float: none;
    height: 40px;
    list-style-type: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

header {
    float: none;
    flex: 0 0 12em;
    order: -1;
    position: static;
}

section {
    float: none;
    width: auto;
    order: 0;
    position: static;
    margin-left: 5em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .wrapper {
        flex-direction: column;
    }
    header li {
        display: inline;
        border: none;
        padding-right: .5em;
    }
    section {
        border: none;
    }
}