---
---

@import "{{ site.theme }}";
header li {
    width: auto;
    float: none;
    height: 40px;
    list-style-type: none;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    float: none;
    flex: 1;
    flex: 0 0 12em;
    order: -1;
    position: static;
}

section {
    float: none;
    width: auto;
    flex: 1;
    order: 0;
    position: static;
}