---
---

@import "{{ site.theme }}";
header li {
    width: auto;
    float: none;
    height: 40px;
    list-style-type: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
  display: flex;
  flex: 1;
}

header {
    float: none;
    flex: 1;
    flex: 0 0 12em;
    order: -1;
    position: static;
}

section {
    float: none;
    width: auto;
    flex: 1;
    order: 0;
    position: static;
    margin-left: 5em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: row;
    }
    header ul li {
        display: inline;
    }
}